<!DOCTYPE html>
<html>
  <head>
    <title>Public Chat</title>
    <link rel="stylesheet" href="/public/css/chat.css" />
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
  </head>
  <body onload="init()">
    <div class="container">
      <h2>Public Chat</h2>
      <div class="chat-box" id="chatBox">
        <!-- <div class="message">
          <span class="sender">User1:</span>
          <span class="timestamp">2:30 PM</span>
          <p>Hello, how are you?</p> -->
        </div>
        </div>
        <!-- More messages can be added here -->
      </div>
      <form class="input-box" id="inputBoxForm">
        <input type="text" id="messageInput" placeholder="Type your message" />
        <input type="submit" value="Send" id="submitButton" />
      </form>
      <div class="logout-container">
        <form action="/logout" method="GET">
          <button type="submit">Logout</button>
        </form>
      </div>

      <div class="online-users">
        <h3>Online Users</h3>
        <ul id="onlineUsers">
          <!-- <li><span></span>User1</li>
          <li><span></span>User2</li>
          <li><span></span>User3</li> -->
          <!-- More online users can be added here -->
        </ul>
      </div>
    </div>
    <script src="/public/js/axios.js"></script>
    <script src="/public/js/socket.io.min.js"></script>
    <script src="/public/js/public-chat.js"></script>
  </body>
</html>
